@import url('https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css');

html {
  zoom: 100%;
}
.App {
  text-align: center; }

nav {
  background-color: #032958 !important;
}

.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-search-input {
  margin-top: 50px;
  border-radius: 50px;
  max-width: 850px;
  background-color: #fff;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 9px;
  max-height: 68px;
}
.home-search-input input, .home-search-input input:focus {
  font-size: 16px;
  border: none;
  background: #fff;
  border-bottom: none !important;
  margin: 0;
  padding: 0;
  height: 44px;
  line-height: 44px;
  box-shadow: none;
  width: 100%;
}

.home-search-input button.button {
  font-size: 18px;
  font-weight: 600;
  padding: 0 40px;
  margin-right: 1px;
  height: 50px;
  outline: none;
  border-radius: 50px;
  color: white;
  background-color: #032958 !important;
}

.home-search-input-item {
  flex: 1;
  margin-top: 3px;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
}

.my-container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
  margin-top: 50px;
}

@media only screen and (min-width: 601px) {
  .my-container {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .my-container {
    width: 70%;
  }
}

.my-container .row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.contain {
  margin:auto;
  height: auto;
}

.image_input {
  margin-left: 0 !important; 
  margin-right: 0 !important;
}

@media only screen and (min-width: 901px) {
 .landing-input {
   padding-left: 7em;
   padding-right: 7em;
 }
}

.contain2 {
  height: auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding-bottom: 10px;
}

@media only screen and (max-width: 500px) {
  .contain2 {
    height: auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding-bottom: 10px;
  }
}

.banner {
  margin-top: 200px;
}

.brand-logo {
  margin-left: 10px !important;
}

.title {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

#sidenav-overlay {
  z-index: 100 !important; }

.App-header {
  background-color: #26a69a !important;
  color: white;
  position: relative;
  z-index: 2; }

.home {
  background-position: 50% 50%;
  background-size: cover;
  background-image: url("http://res.cloudinary.com/eventsmanager/image/upload/v1525385937/banner6_eidrkn.jpg");
  /* opacity: 0.5;
  filter: alpha(opacity=50); */
  margin: 0 auto;
  height: 100vh;
  overflow-x: hidden;
}

.App-main {
  background-position: center center;
  background-size: cover;
  background-image: url("http://res.cloudinary.com/eventsmanager/image/upload/v1525385937/banner6_eidrkn.jpg");
  /* opacity: 0.5;
  filter: alpha(opacity=50); */
  height: 100%;
  margin: 0 auto;
  /*left: 0;*/
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden; }

.landing {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black
}

  .section p:not(.flow-text) {
    font-size: 1.2rem; }
  .section h2 {
    color: white;
    font-size: 70px !important;
    font-family: 'Ubuntu', sans-serif !important;
    font-weight: 400 !important;
    text-align: center
  }
  .section .btn {
    background-color: rgba(38, 166, 154, 0.34) !important;
    border: 2px solid white; }


.center-image .image-holdr {
  display: unset !important;
}

.center-image-self {
  display: block;
  width: 100%;
  max-height: 600px;
}

.section__hero {
  height: 100vh;
  padding-top: 5%;
  padding-bottom: 5%;
  background-size: cover;
  background-color: rgba(5, 5, 5, 0.64);
}
.section__hero h3 {
  color: white;
  font-size: 1.9em;
  text-align: center;
}
  .section__hero h5 {
    line-height: 2.3rem; }
  .section__hero h5 span {
    border-bottom: 2px solid white; }
  .section__hero h1 {
    font-weight: bold;
    font-size: 4.2rem;
    line-height: 1.10;
    color: white }
  .section__hero .btn {
    width: 20rem;
    margin-top: 1.5rem; }
  .section__hero .btn__main-cta {
    height: 3rem; }


.signin {
  margin-top: 50px !important; }

.signup {
  margin-top: 30px !important; }

.App-main h3 {
  font-weight: 600px; }

.App-main .App-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  filter: alpha(opacity=30);
  z-index: 1; }

.navigation {
  background-color: #26a69a !important;}

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

.App-signup {
  padding: 32px 48px 0px 48px;
  border: 1px solid #EEE;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  min-width: 23rem;
}

.ui.card>.image, .ui.cards>.card>.image {
  position: relative;
  display: block;
  box-flex: 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 0;
  background: rgba(0,0,0,.05);
  max-height: 120px;
}



@media only screen and (min-width: 700px) {
  .App-signup {
    display: inline-block;
    padding: 32px 48px 0px 48px;
    border: 1px solid #EEE;
    border-radius: 5px;
    margin: auto;
    min-width: 35rem;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
  }
}

.ui.grid>.column:not(.row), .ui.grid>.row>.column {
  position: relative;
  display: inline-block;
  width: 25% !important;
  padding-left: 1rem;
  padding-right: 1rem;
  vertical-align: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ui.grid>.row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: inherit;
  -ms-flex-pack: inherit;
  justify-content: inherit;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%!important;
  padding: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: flex-start;
}

.ui.form .fields {
  display: -webkit-box;
  display: flex;
  box-orient: horizontal;
  box-direction: horizontal;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  margin: 0 -.5em 1em;
  margin-top: 10px;
}

.ui.grid {
  margin-top: 1rem;
  margin-bottom: -1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  justify-content: center;
}

.ui.card:last-child {
  margin-bottom: 15px;
}


.App-signup main {
  flex: 1 0 auto;
  margin-top: auto;
}

.modal-content-event {
  overflow-y: hidden !important
}

.cardText {
  text-overflow: ellipsis !important
}

.action-button {
  background-color: #032958 !important;
}

.input-field input[type=text]:focus + label {
  color: #032958 !important;
}

.input-field input[type=number]:focus + label {
  color: #032958 !important;
}

.image-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.divider {
  height: 1px;
  overflow: hidden;
  background-color: #656060;
  margin-top: 20px;
  margin-bottom: 20px;
  
}

.input-field input[type=email]:focus + label {
  color: #032958 !important;
}

i.icon-grey {
  color: black;
}

@media only screen and (max-width: 550px) {
  .center-image {
    height: 200px !important;
  }
}

.pagination li.active {
  background-color: #032958 !important;
}

.pagination { 
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 601px ) {
  .section h2 {
    color: white;
    font-size: 2.5em !important;
    font-family: 'Ubuntu', sans-serif !important;
    font-weight: 400 !important;
    text-align: center
  }

  .section__hero h3 {
    color: white;
    font-size: 1.7em;
    text-align: center;
}
}

.background {
  min-height: 95vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding-top: 55px;
  padding-bottom: 70px;
}

.ui[class*="two column"].grid>.column:not(.row), .ui[class*="two column"].grid>.row>.column {
  width: 100%;
}

.center__details .slider__holdr {
  margin-top: 20px;
  width: 100%;
  max-height: 100%;
}


.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }

.edit {
  color: #032958 !important;
}

.delete {
  color: red !important;
}

.dropdown-content li > span {
  color: #032958 !important;
}

.navigator {
  background-color: #032958 !important;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navigator a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.navigator a:hover {
  background-color: #032958 !important;
  color: white;
}

.toastify {
  z-index: 1200;
}

.content {
  word-wrap: break-word;
}


.navigator .icon {
  display: none;
}


@media screen and (max-width: 600px) {
  .navigator a:not(:first-child) {display: none;}
  .navigator a.icon {
    float: right;
    display: block;
  }

  .nav-menu {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .navigator.responsive {position: relative;}
  .navigator.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navigator.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .ui.grid>.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .column{
      width: 100% !important;
    }
  }
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(3, 42, 88, 0.96);
  overflow-x: hidden;
  padding-top: 60px; 
  transition: 0.5s; 
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f3eded;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.table-row-header {
  background-color: #032958
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.fab {
  width: 70px;
  height: 70px;
  background-color: #db4437;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  
  font-size: 50px;
  line-height: 70px;
  color: white;
  text-align: center;
  
  position: fixed;
  right: 50px;
  bottom: 50px;
  
 transition: all 0.1s ease-in-out;
}

.fab:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
}

.pulse {
  overflow: initial;
  // position: relative;
}

.pulse::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: inherit;
  border-radius: inherit;
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, transform .3s;
  transition: opacity .3s, transform .3s, -webkit-transform .3s;
  -webkit-animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
          animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
  z-index: -1;
}

@-webkit-keyframes pulse-animation {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes pulse-animation {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

.ui.definition.table thead:not(.full-width) th:first-child {
  pointer-events: none;
  background: 0 0;
  font-weight: 400;
  color: rgba(0,0,0,.4);
  box-shadow: -1px -1px 0 1px #fff;
  color: white;
  text-align: center;
  font-size: 20px;
}

.w3-image{
  width:100%;
  max-height: 550px;
}
img{
  vertical-align:middle
}
a{color:inherit}

.ui.card .meta, .ui.cards>.card .meta {
  font-size: 0.9em;
  color: rgba(0,0,0,.4);
}


