<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../plugins/materialize/css/materialize.min.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/icon.css" />
  </head>
  <body class=" responsive-image">
    <header>
      <nav class="topbar" style="background-color: #26a69a !important; ">
        <div class="nav-wrapper">
            <a href="../index.html" class="brand-logo">EventManager</a>
        </div>
      </nav>
    </header>

    <div class="" style="padding-top:50px;">
      <div class=" row center white-text">
        <h4 class="header col s12 light center">
            <b>Center Name</b>
        </h4>
        <h5>Location</h5>
      </div>
      <div class="row center">
        <div class="row">
          <div class="col s4">
            <div class="card-panel teal">
                <i class=" material-icons" style="font-size: 50px">directions_car</i>
                <h5>Car Park Capacity</h5>
            </div>
          </div>
          <div class="col s4">
            <div class="card-panel">
              <i class=" material-icons" style="font-size: 50px">location_city</i>
              <h5>Hall Capacity</h5>
            </div>
          </div>
          <div class="col s4">
              <div class="card-panel">
                <i class=" material-icons" style="font-size: 50px">personal_video</i>
                <h5>Projector</h5>
              </div>
            </div>
        </div>
      </div>
      <div class="row center">
        <h4><a href="#modalEvents" onclick="$('#modalEvents').modal('open');">View Listed Events</a></h4>
      </div>
    </div>
    <script src="../plugins/jquery-3.2.1.min.js" ></script>
    <script src="../plugins/materialize/js/materialize.min.js" ></script>
    <script src="../js/index.js"></script>
  </body>
</html>