<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../plugins/materialize/css/materialize.min.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/icon.css" />
  </head>
  <body class=" responsive-image">
    <header>
        <div class="navbar-fixed">
          <nav class=" z-depth-0" style="background-color: #26a69a !important;">
            <div class="nav-wrapper">
              <div class="row">
                <div class="col s12">
                  <a href="#" data-activates="mobile-demo" class="button-collapse hide-on-med-and-up"><i class="material-icons">menu</i></a>
                  <a href="../index.html" class="brand-logo" target="">EventsManager</a>
                  <ul class="right">
                    <li><a href="signIn.html" target="">SignIn</a></li>
                    <li><a href="signup.html" target="">SignUp</a></li>
                  </ul>
                </div>
              </div>
              <ul class="side-nav" id="mobile-demo">
                <li><a href="signIn.html" target="">SignIn</a></li>
                <li><a href="signup.html" target="">SignUp</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </header>
    <div class="row" style="padding-top:50px;">
        <h3 class=" white-text">Event Centers</h3>
      <div class="col s12 m6 l3">      
        <div class="card horizontal">
          <div class="card-image red">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p><h4>Center Name</h4> <br/> Location</p>
            </div>
            <div class="card-action">
              <a href="centerDetails_Guest.html">View Details</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l3">      
        <div class="card horizontal">
          <div class="card-image">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p><h4>Center Name</h4> <br/> Location</p>
            </div>
            <div class="card-action">
              <a href="centerDetails_Guest.html">View Details</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l3">      
        <div class="card horizontal">
          <div class="card-image">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p><h4>Center Name</h4> <br/> Location</p>
            </div>
            <div class="card-action">
              <a href="centerDetails_Guest.html">View Details</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l3">      
        <div class="card horizontal">
          <div class="card-image">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p><h4>Center Name</h4> <br/> Location</p>
            </div>
            <div class="card-action">
              <a href="centerDetails_Guest.html">View Details</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l3">      
        <div class="card horizontal">
          <div class="card-image red">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p><h4>Center Name</h4> <br/> Location</p>
            </div>
            <div class="card-action">
              <a href="centerDetails_Guest.html">View Details</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l3">      
        <div class="card horizontal">
          <div class="card-image">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p><h4>Center Name</h4> <br/> Location</p>
            </div>
            <div class="card-action">
              <a href="centerDetails_Guest.html">View Details</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l3">      
        <div class="card horizontal">
          <div class="card-image">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p><h4>Center Name</h4> <br/> Location</p>
            </div>
            <div class="card-action">
              <a href="centerDetails_Guest.html">View Details</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l3">      
        <div class="card horizontal">
          <div class="card-image">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p><h4>Center Name</h4> <br/> Location</p>
            </div>
            <div class="card-action">
              <a href="centerDetails_Guest.html">View Details</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l3">      
        <div class="card horizontal">
          <div class="card-image red">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p><h4>Center Name</h4> <br/> Location</p>
            </div>
            <div class="card-action">
              <a href="centerDetails_Guest.html">View Details</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l3">      
        <div class="card horizontal">
          <div class="card-image">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p><h4>Center Name</h4> <br/> Location</p>
            </div>
            <div class="card-action">
              <a href="centerDetails_Guest.html">View Details</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l3">      
        <div class="card horizontal">
          <div class="card-image">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p><h4>Center Name</h4> <br/> Location</p>
            </div>
            <div class="card-action">
              <a href="centerDetails_Guest.html">View Details</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l3">      
        <div class="card horizontal">
          <div class="card-image">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p><h4>Center Name</h4> <br/> Location</p>
            </div>
            <div class="card-action">
              <a href="centerDetails_Guest.html">View Details</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l3">      
        <div class="card horizontal">
          <div class="card-image red">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p><h4>Center Name</h4> <br/> Location</p>
            </div>
            <div class="card-action">
              <a href="centerDetails_Guest.html">View Details</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l3">      
        <div class="card horizontal">
          <div class="card-image">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p><h4>Center Name</h4> <br/> Location</p>
            </div>
            <div class="card-action">
              <a href="centerDetails_Guest.html">View Details</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l3">      
        <div class="card horizontal">
          <div class="card-image">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p><h4>Center Name</h4> <br/> Location</p>
            </div>
            <div class="card-action">
              <a href="centerDetails_Guest.html">View Details</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l3">      
        <div class="card horizontal">
          <div class="card-image">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p><h4>Center Name</h4> <br/> Location</p>
            </div>
            <div class="card-action">
              <a href="centerDetails_Guest.html">View Details</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="fixed-action-btn horizontal click-to-toggle spin-close">
      <a class="btn-floating btn-large waves-effect waves-light " onclick="$('#modal1').modal('open');" href="#modal1">
        <i class="material-icons">search</i>
      </a>
    </div>
    <div id="modal1" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>Streamline Your Search By:</h4>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s3">
                <i class="material-icons prefix">place</i>
                <input id="icon_prefix" type="text" class="validate">
                <label for="icon_prefix">Name or Location</label>
              </div>
              <div class="input-field col s3">
                <i class="material-icons prefix">location_city</i>
                <input id="icon_telephone" type="number" class="validate">
                <label for="icon_telephone">Hall Capacity</label>
              </div>
              <div class="input-field col s3">
                <i class="material-icons prefix">directions_car</i>
                <input id="icon_telephone" type="number" class="validate">
                <label for="icon_telephone">CarPark Capacity</label>
              </div>
              <div class="input-field col s3 check">
                <i class="material-icons prefix">personal_video</i>
                <input type="checkbox" id="test5" />
                <label for="test5">With Projector</label>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn">GO!</a>
      </div>
    </div>
    <script src="../plugins/jquery-3.2.1.min.js" ></script>
    <script src="../plugins/materialize/js/materialize.min.js" ></script>
    <script src="../js/index.js"></script>
  </body>
</html>